﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Website</h1>
    <p>Plase Login </p>
   <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
 <p><a href="https://docs.microsoft.com/aspnet/core">Register</a>.</p>
 <button type="Login" class="btn btn-primary">Login</button>
<a asp-page="./Home" class="btn btn-primary">Home</a>

</form>





</div>
